<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="administrador">
    <resultMap id="administradorMap" type="pojo.Administrador">
        <id property="idAdministrador" column="idAdministrador"/>
        <result property="idUsuario" column="idUsuario"/>
    </resultMap>

    <select id="listar" resultMap="administradorMap">
        SELECT idAdministrador, idUsuario
        FROM administrador
        ORDER BY idAdministrador
    </select>

    <select id="obtenerPorId" parameterType="int" resultMap="administradorMap">
        SELECT idAdministrador, idUsuario
        FROM administrador
        WHERE idAdministrador = #{idAdministrador}
    </select>

    <select id="obtenerPorUsuario" parameterType="int" resultMap="administradorMap">
        SELECT idAdministrador, idUsuario
        FROM administrador
        WHERE idUsuario = #{idUsuario}
    </select>

    <insert id="insertar" parameterType="pojo.Administrador" useGeneratedKeys="true" keyProperty="idAdministrador" keyColumn="idAdministrador">
        INSERT INTO administrador (idUsuario)
        VALUES (#{idUsuario})
    </insert>

    <update id="actualizar" parameterType="pojo.Administrador">
        UPDATE administrador
        SET idUsuario = #{idUsuario}
        WHERE idAdministrador = #{idAdministrador}
    </update>

    <delete id="eliminar" parameterType="int">
        DELETE FROM administrador
        WHERE idAdministrador = #{idAdministrador}
    </delete>
</mapper>