<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alimento">
    <resultMap id="alimentoMap" type="pojo.Alimento">
        <id property="idAlimento" column="idAlimento"/>
        <result property="nombreAlimento" column="nombreAlimento"/>
        <result property="calorias" column="calorias"/>
        <result property="porcion" column="porcion"/>
        <result property="proteinas" column="proteinas"/>
        <result property="carbohidratos" column="carbohidratos"/>
        <result property="grasas" column="grasas"/>
    </resultMap>

    <select id="listar" resultMap="alimentoMap">
        SELECT idAlimento, nombreAlimento, calorias, porcion, proteinas, carbohidratos, grasas
        FROM alimento
        ORDER BY idAlimento
    </select>

    <select id="obtenerPorId" parameterType="int" resultMap="alimentoMap">
        SELECT idAlimento, nombreAlimento, calorias, porcion, proteinas, carbohidratos, grasas
        FROM alimento
        WHERE idAlimento = #{idAlimento}
    </select>

    <insert id="insertar" parameterType="pojo.Alimento" useGeneratedKeys="true" keyProperty="idAlimento" keyColumn="idAlimento">
        INSERT INTO alimento (nombreAlimento, calorias, porcion, proteinas, carbohidratos, grasas)
        VALUES (#{nombreAlimento}, #{calorias}, #{porcion}, #{proteinas}, #{carbohidratos}, #{grasas})
    </insert>

    <update id="actualizar" parameterType="pojo.Alimento">
        UPDATE alimento
        SET nombreAlimento = #{nombreAlimento},
            calorias = #{calorias},
            porcion = #{porcion},
            proteinas = #{proteinas},
            carbohidratos = #{carbohidratos},
            grasas = #{grasas}
        WHERE idAlimento = #{idAlimento}
    </update>

    <delete id="eliminar" parameterType="int">
        DELETE FROM alimento
        WHERE idAlimento = #{idAlimento}
    </delete>
</mapper>