<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paciente">
    <resultMap id="pacienteMap" type="pojo.Paciente">
        <id property="idPaciente" column="idPaciente"/>
        <result property="idMedico" column="idMedico"/>
        <result property="nombrePaciente" column="nombrePaciente"/>
        <result property="apellidosPaciente" column="apellidosPaciente"/>
        <result property="fechaNacimiento" column="fechaNacimiento"/>
        <result property="genero" column="genero"/>
        <result property="peso" column="peso"/>
        <result property="estatura" column="estatura"/>
        <result property="talla" column="talla"/>
        <result property="email" column="email"/>
        <result property="telefono" column="telefono"/>
        <result property="domicilio" column="domicilio"/>
        <result property="fotografia" column="fotografia"/>
        <result property="codigoAcceso" column="codigoAcceso"/>
        <result property="estatus" column="estatus"/>
    </resultMap>

    <select id="listar" resultMap="pacienteMap">
        SELECT idPaciente, idMedico, nombrePaciente, apellidosPaciente, fechaNacimiento, genero,
               peso, estatura, talla, email, telefono, domicilio, fotografia, estatus
        FROM paciente
        WHERE estatus = 'Activo'
        ORDER BY idPaciente
    </select>

    <select id="obtenerPorId" parameterType="int" resultMap="pacienteMap">
        SELECT idPaciente, idMedico, nombrePaciente, apellidosPaciente, fechaNacimiento, genero,
               peso, estatura, talla, email, telefono, domicilio, fotografia, estatus
        FROM paciente
        WHERE idPaciente = #{idPaciente}
    </select>

    <select id="obtenerPorCodigoAcceso" parameterType="string" resultMap="pacienteMap">
        SELECT idPaciente, idMedico, nombrePaciente, apellidosPaciente, fechaNacimiento, genero,
               peso, estatura, talla, email, telefono, domicilio, fotografia, codigoAcceso, estatus
        FROM paciente
        WHERE codigoAcceso = #{codigoAcceso} AND estatus = 'Activo'
    </select>

    <select id="obtenerPorEmailYCodigoAcceso" parameterType="map" resultMap="pacienteMap">
        SELECT idPaciente, idMedico, nombrePaciente, apellidosPaciente, fechaNacimiento, genero,
               peso, estatura, talla, email, telefono, domicilio, fotografia, codigoAcceso, estatus
        FROM paciente
        WHERE email = #{email} AND codigoAcceso = #{codigoAcceso} AND estatus = 'Activo'
    </select>

    <select id="obtenerPorEmail" parameterType="string" resultMap="pacienteMap">
        SELECT idPaciente, idMedico, nombrePaciente, apellidosPaciente, fechaNacimiento, genero,
               peso, estatura, talla, email, telefono, domicilio, fotografia, codigoAcceso, estatus
        FROM paciente
        WHERE email = #{email} AND estatus = 'Activo'
    </select>

    <insert id="insertar" parameterType="pojo.Paciente" useGeneratedKeys="true" keyProperty="idPaciente" keyColumn="idPaciente">
        INSERT INTO paciente (idMedico, nombrePaciente, apellidosPaciente, fechaNacimiento, genero,
                              peso, estatura, talla, email, telefono, domicilio, fotografia, codigoAcceso, estatus)
        VALUES (#{idMedico}, #{nombrePaciente}, #{apellidosPaciente}, #{fechaNacimiento}, #{genero},
                #{peso}, #{estatura}, #{talla}, #{email}, #{telefono}, #{domicilio}, #{fotografia}, #{codigoAcceso}, #{estatus})
    </insert>

    <update id="actualizar" parameterType="pojo.Paciente">
        UPDATE paciente
        SET idMedico = #{idMedico},
            nombrePaciente = #{nombrePaciente},
            apellidosPaciente = #{apellidosPaciente},
            fechaNacimiento = #{fechaNacimiento},
            genero = #{genero},
            peso = #{peso},
            estatura = #{estatura},
            talla = #{talla},
            email = #{email},
            telefono = #{telefono},
            domicilio = #{domicilio},
            fotografia = #{fotografia}
            <if test="codigoAcceso != null">
                , codigoAcceso = #{codigoAcceso}
            </if>
            <if test="estatus != null">
                , estatus = #{estatus}
            </if>
        WHERE idPaciente = #{idPaciente}
    </update>

    <update id="actualizarFotografia" parameterType="map">
        UPDATE paciente
        SET fotografia = #{fotografia}
        WHERE idPaciente = #{idPaciente}
    </update>

    <update id="actualizarContrasena" parameterType="map">
        UPDATE paciente
        SET codigoAcceso = #{codigoAcceso}
        WHERE idPaciente = #{idPaciente}
    </update>

    <update id="eliminar" parameterType="int">
        UPDATE paciente
        SET estatus = 'Inactivo'
        WHERE idPaciente = #{idPaciente}
    </update>

    <update id="reasignarCitasDePacienteIndividual" parameterType="map">
        UPDATE cita
        SET idMedicoAnterior = idMedico,
            idMedico = #{idMedicoDestino}
        WHERE idPaciente = #{idPaciente} AND idMedico = #{idMedicoOrigen}
    </update>
</mapper>